#root {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  background-color: #ccc;
  padding: 10px 40px;   
}
  
.episode {
  display: flex; 
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;        
  border-radius: 8px;
  background-color: #f9f9f9;
  padding: 30px;
}

.title {
   font-family: "Coiny", system-ui;
   font-weight: 800;
   font-style: normal;
   border:1px solid black;
   border-radius: 8px;
   text-align: center;
   padding: 10px 30px;
}


.episode-number {
  display: inline-block;
footer {
  text-align: center;
}

.episode-number {
  display: inline;
}